#beautiful
    background-color: #f4fafb
    
    .textbox
        margin-bottom: 50px
        text-align: center
        display: flex
        flex-direction: column
        h1
            font-weight: 700
            font-size: 63px
        h5
            color: #676f8b
            font-size: 22px
            line-height: 1.3
            margin: 23px 0 35px 0
        .btn
            font-size: 18px
            background-color: #38b6c1
            color: #ffff
            align-self: center
            padding: 13px 30px
            border-radius: 5px
        span
            color: #37b7c3



        .imgplt
            align-self: center
            margin: 20px 0 10px
            // padding: 20px 0 15px
            width: 125px
        h4
            font-size: 22px

    @media (min-width: 768px) and (max-width: 991px)
        .textbox
            align-items: center



    @media (min-width: 992px)
        .textbox
            align-items: start
            text-align: start
            margin-bottom: 0
            .btn,.imgplt
                align-self: start
