header
    padding: 20px 0
    .imgbox
        width: 40px
    nav
        a
            font-size: 20px
            color: #8c8999
            margin-right: 30px
        .home-color
            color: #74bebc
    .btn
        background-color: #f2f2f4
    @media (max-width: 991px)
        nav
            display: none
    @media (min-width: 992px)
        .btn
            display: none
